body {
  margin: 0;
  font-family: Georgia, "Times New Roman", serif, sans-serif;
}

.right-box {
  padding: 40px 30px 40px 40px;
}

.mlat {
  display: flex;
  background-color: rgba(0, 59, 154, 0.875);
  width: max-content;
  height: 100vh;
  color: white;
  align-self: center;
}

.bienvenida {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: visible;
  justify-content: center;
  align-items: center;
}

.list-unstyled {
  align-self: center;
  margin: 0;
}

.bienvenida img.imag_fa {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.flecha_blanca {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 80px;
  height: 80px;
  background-color: #23539e;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.text-overlay h1 {
  width: 50%;
  margin: 0;
  font-weight: bold;
  padding: 20px;
}

.mlat h2 {
  font-size: medium;
}

.head .logos img {
  max-width: 100%;
  height: auto;
}


.rol {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.head {
  position: relative;
}

.salir {
  position: absolute;
  top: 10;
  right: 70%;
  z-index: 40;
}

.salir img {
  max-width: 50px;
  max-height: 50px;
  width: auto;
  height: auto;
  cursor: pointer;
}

.btn_busq {
  position: absolute;
  display: flex;
  align-items: flex-start;
  height: 40px;
  border-radius: 10px;
  background-color: #23539e;
  padding: 10px;
  margin-left: 900px;
  max-width: 250px;
  top: 20px;
}

.busc {
  margin-top: 0;
  margin-right: 10px;
  font-size: 15px;
  color: white;
}

.lupa {
  margin-top: 0;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.input-busqueda {
  flex: 1;
  padding: 4px;
  font-size: 8px;
}

.adm {
  background-color: rgba(255, 255, 25, 0.831);
  font-size: 20px;
  float: right;
  width: 250px;
}

.adm,
.emp {
  margin-left: 750px;
}

.emp {
  font-size: 20px;
  margin-right: 60px;
  width: auto;
}

.img_L {
  width: 60px;
  height: 60px;
}

.table-custom {
  background-color: #f7f5ed;
  border-collapse: collapse;
}

.table-custom th,
.table-custom td {
  border: 1px solid rgba(0, 0, 0, 0.428);
  padding: 10px;
  text-align: left;
  background-color: inherit;
}

/* BORDER*/

.table-custom {
  border: none;
}

.table-custom th:first-child,
.table-custom td:first-child {
  border-left: none;
}

.table-custom th:last-child,
.table-custom td:last-child {
  border-right: none;
}

.table-custom tr:first-child th,
.table-custom tr:first-child td {
  border-top: 1px solid rgba(0, 0, 0, 0.55);
}

.table-custom tr:last-child th,
.table-custom tr:last-child td {
  border-bottom: none;
}

.btn-custom {
  background-color: #23539e;
  border-color: #23539e;
  color: white;
  margin-right: 20px;
  padding: 10px 20px;
  border-radius: 5px;
}

.custom-alert {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  /* Azul */
  color: white;
  font-size: 16px;
  width: 300px;
  padding: 10px;
  border-radius: 8px;
  z-index: 9999;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Estilo para eliminar el fondo oscurecedor */

.modal-backdrop {
  background-color: transparent !important;
}

/* Estilo del modal */

.custom-modal {
  position: absolute;
  background-color: #23529ee5;
  color: white;
  max-width: 400px;
  max-height: 150px;
  margin-top: 480px;
  margin-left: 400px;
  font-size: 15px;
  width: 60%;
}

.custom-footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 15px;
}

.custom-button {
  background-color: #23539e;
  border-color: #23539e;
}

.custom-alert .btn-close:hover {
  opacity: 1;
}

.custom-alert {
  position: fixed;
  bottom: 20px;
  right: 60px;
  margin: 20px;
  background-color: rgb(35, 83, 158);
  color: white;
  font-size: 20px;
  width: 350px;
  padding: 25px;
  border-radius: 8px;
}

.marco-blanco {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 95%;
  height: 95%;
  top: 2%;
  left: 0%;
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 40px;
  border: solid black 1px;
  padding: auto;
}

@media (max-width: 992px) {
  .logos {
    padding: 20px;
  }
  .rol {
    font-size: 0.7em;
  }
  .adm a {
    padding: 1px;
  }
  .mlat {
    width: 100%;
    min-height: auto;
    height: auto;
    order: 1;
  }
  .mlat ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .mlat ul li {
    display: flex;
    justify-content: center;
    margin: 0 20px;
  }
  .mlat ul li h2 {
    display: none;
  }
  .bienvenida {
    order: 2;
    height: auto;
  }
  .bienvenida img {
    width: 15%;
    height: 60px;
    order: 8;
    position: absolute;
  }
  .text-overlay {
    order: 1;
    width: 100%;
    height: auto;
    background: none;
  }
  .text-overlay h1 {
    width: 100%;
    background: linear-gradient(
      to left,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    );
  }
  @media (max-width: 1200px) {
    .adm,
    .emp {
      font-size: 18px;
      padding: 0.5rem;
      width: 100%;
    }
  }
  @media (max-width: 992px) {
    .head .logos {
      padding: 10px;
    }
  }
  .adm,
  .emp {
    font-size: 16px;
    padding: 0.5rem;
    width: auto;
  }
}

@media (max-width: 768px) {
  .adm,
  .emp {
    font-size: 14px;
    width: 100%;
  }
  .adm a,
  .emp a {
    padding: 0.25rem;
  }
  .salir {
    top: 10px;
    right: 10px;
  }
}

@media (min-width: 992px) and (max-width: 1434px) {
  @media (max-width: 768px) {
    .table-container {
      width: 100%;
      overflow-x: auto;
    }
    .salir {
      top: 5px;
      right: 10px;
    }
    .flecha_blanca {
      max-width: 50px;
      max-height: 50px;
      top: 10px;
      left: 10px;
    }
    .marco-blanco {
      overflow: visible;
      width: 100%;
      height: auto;
      top: 5%;
      left: 0;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}

@media (max-width: 999px) {
  .logos img {
    max-width: 150px;
    height: auto;
  }
}

@media (max-width: 990px) {
  .salir img {
    max-width: 25px;
    max-height: 30px;
    height: auto;
  }
}

@media (max-width: 1000px) {
  .btn_busq {
    top: 20px;
    right: 40px;
    max-width: 300px;
  }
  .input-busqueda {
    font-size: 10px;
  }
}

@media (max-width: 760px) {
  .btn_busq {
    top: 30px;
    right: 80px;
    max-width: 180px;
  }
  .input-busqueda {
    font-size: 8px;
  }
}

@media (max-width: 576px) {
  .btn_busq {
    top: 40px;
    right: 10px;
    max-width: 280px;
  }
}
