body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', serif, sans-serif;
}
.mlat{
    display: flex;
    background-color: rgba(0, 59, 154, 0.875);
    width: max-content !important;
    height: 90vh;
    color: white;
    align-self: center;
}
.bienvenida{
    position: relative;
    width: 100%;
    height: 90vh;
    /* Ajusta la altura según sea necesario */
    overflow: hidden;
}
.list-unstyled{
    align-self: center;
}
.bienvenida img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.text-overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    /* Ajusta el ancho del desvanecido */
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: center;
    color: black;
    /* Ajusta el color del texto según sea necesario */
}
.formadm{
    background-image: url(/resources/img2.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.text-overlay h1{
    width: 50%;
    margin: 0;
    font-weight: bold;
    padding: 20px;
    /* Ajusta el padding según sea necesario */
}
.mlat h2{
    font-size: medium;
}
.rol{
    font-size: 1em;
    font-weight: 600;
    display: flex;
    justify-content: end;
}
.adm{
    align-content: center;
}
.emp{
    background-color: rgba(255, 255, 25, 0.831);
    align-self: center;
}
.img_L{
    width: 60px;
    height: 60px;
}
@media (max-width: 992px){
    .logos{
        text-align: center;
    }
    .salir{
        margin: 0;
    }
    .rol{
        font-size: 0.7em;
        padding: 10px;
        justify-content: center;
    }
    .adm a{
        padding: 1px;
    }
    .mlat{
        width: 118vh !important;
        min-height: auto;
        height: 100%;
        order: 1;
        justify-content: center;
    }
    .mlat ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .mlat ul li{
        display: flex;
        justify-content: space-between;
        margin: 0 20px;
    }
    .mlat ul li h2{
        display: none;
    }
    .bienvenida{
        order: 2;
        height: auto;
    }
    .bienvenida img{
        height: 100vh;
        width: 100%;
        order: 2;
        position: relative;
    }
    .text-overlay{
        order: 1;
        width: 100%;
        height: 100%;
        background: none;
    }
    .text-overlay h1{
        width: 100%;
        background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }
}

@media (min-width: 992px) and (max-width: 1434px){
    .salir{
        margin: auto;
    }
}