body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', serif, sans-serif;
}
.mlat{
    display: flex;
    background-color: #003b9adf;
    width: max-content !important;
    height: 90vh;
    color: white;
    align-self: center;
}
.gestionUsuario{
    position: relative;
    width: 100%;
    height: 90vh;
    /* Ajusta la altura según sea necesario */
    overflow: hidden;
    background-image: url(../resources/background3.png);
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-unstyled{
    align-self: center;
}
.text-overlay{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    /* Ajusta el ancho del desvanecido */
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: center;
    color: black;
    /* Ajusta el color del texto según sea necesario */
}
.formadm{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.text-overlay h1{
    width: 50%;
    margin: 0;
    font-weight: bold;
    padding: 20px;
    /* Ajusta el padding según sea necesario */
}
.mlat h2{
    font-size: medium;
}
.rol{
    font-size: 1em;
    font-weight: 600;
    display: flex;
    justify-content: end;
}
.adm{
    background-color: rgba(255, 255, 25, 0.831);
    align-content: center;
}
.emp{
    align-self: center;
}
.img_L{
    width: 60px;
    height: 60px;
}
.mainContainer{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    width: 94%;
    height: 86vh;
    border-radius: 30px;
}
.botones p {
    text-align: center;
    margin: 10px auto;
}
.btn{
    text-size-adjust: auto;
    width: 200px !important;
    height: 200px;
    background-color: #003b9adf !important;
    border-radius: 15px !important;
}
@media (max-width: 992px){
    .logos{
        text-align: center;
    }
    .salir{
        margin: 0;
    }
    .rol{
        font-size: 0.7em;
        padding: 10px;
        justify-content: center;
    }
    .adm a{
        padding: 1px;
    }
    .mlat{
        width: 118vh !important;
        min-height: auto;
        height: 100%;
        justify-content: center;
    }
    .mlat ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .mlat ul li{
        display: flex;
        justify-content: space-between;
        margin: 0 20px;
    }
    .mlat ul li h2{
        display: none;
    }
    .text-overlay{
        order: 1;
        width: 100%;
        height: 100%;
        background: none;
    }
    .text-overlay h1{
        width: 100%;
        background: linear-gradient(to left, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    }
}

@media (min-width: 992px) and (max-width: 1434px){
    .salir{
        margin: auto;
    }
}